<div class="scrollable">
  <div class="scrollable-content">

    <div class="list-group">
      <div class="list-group-item">
        <h1>Welcome<br/>
        <small>This is a reference site for AA+ compliant markup for modern web applications</small>
        </h1>
      </div>
      <div class="list-group-item media">
        <div class="pull-right">
          <i class="fa fa-gamepad feature-icon text-primary"></i>
        </div>
        <div class="media-body">
            <h3 class="media-heading"></h3>
            Open the sidebar and start testing features
        </div>
      </div>
    </div>
  </div>
</div>
