<div class="scrollable">
    <div class="scrollable-content">

        <div class="list-group">
            <div class="list-group-item">
                <h1>Welcome to the AA+ accessibility reference</h1>

                <p>Add an introduction here</p>
            </div>

            <div class="list-group-item">

<markdown>
## Code snippets

The main reason for adding markdown support was to make it easier for you to add your html code to
the repo, without messing around with encoded characters and pre tags. We can get a consistant view
across the reference book.

```html
<button>Press me</button>
<p>I am some text</p>
```

---

### Drawbacks

The drawback of using markdown to display your code is that it will need to be relative to the
file; all indentation is relative to column 0 and not the expected tab indentation.

Moreover if you try to include just a small portion of markdown from an ng-include file you will
have problems unless the file is headed properly with a markdown h1 tag. (text underlined with at
least three === signs).

Also, it can get a little bit confusing with the opening and closing of markdown tags (like in
legacy phtql files). Hey ho. Don't like it? Make a pull request.

---

### Please don't
Please don't include whole markdown files with ng-include as I have done for the README file as
there are a few crazy bugs, like extra spans appearing in the displayed html code in the pages.
</markdown>

            </div>
        </div>
    </div>
</div>
